body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/177/703/original/pexels-r-khalil-250162-767991.jpg?1769540574");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #aabbbc;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
.search-bar {
  font-size: 16px;
  font-weight: 100;
  color: rgba(42, 40, 40, 0.893);
  border: none;
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  width: 80%;
}
.search-button {
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 60, 0);
  padding: 21px 25px;
  color: rgb(250, 231, 231);
  font-size: 16px;
  margin: 4px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  transition: transform 150ms ease-in-out;
}
.search-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.main-container {
  display: flex;
  justify-content: space-between;
}
header {
  padding-bottom: 30px;
  border-bottom: 2px solid #c6e6f947;
}
main {
  padding-bottom: 25px;
}
h1 {
  font-size: 42px;
  color: #0053c7;
  margin: 30px 0px 2px;
}
.current-conditions {
  opacity: 0.8;
}
.temperature-display-container {
  display: flex;
  position: relative;
  right: 20px;
  top: 20px;
  font-family: "Lato", sans-serif;
}
.current-temperature {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: -1px;
}
.current-temperature-symbol {
  position: relative;
  top: 10px;
  font-size: 40px;
  letter-spacing: 1px;
}
.icon {
  position: relative;
  top: 4px;
  left: 2px;
  margin: 0;
  height: 80px;
  width: 80px;
}
.strong-text {
  color: rgb(255, 34, 0);
}
.weather-forecast-section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.forecasted-day {
  text-align: center;
  color:;
  font-size: 16px;
  line-height: 10px;
  margin-bottom: 10px;
}
.forecasted-day-icon {
  text-align: center;
  margin: 10px;
  font-size: 32px;
}
.forecasted-day-temperatures {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(255, 34, 0);
}

.forecasted-day-temperature {
  padding: 0 10px;
}
.author-details {
  color: rgba(42, 37, 59, 0.89);
  padding: 30px 0 10px 0;
  opacity: 0.8;
  font-size: 14px;
  text-align: center;
  border-top: 2px solid #c6e6f947;
}
.link {
  color: #0053c7;
  font-weight: 400;
}
